.shopheading>h1{
    padding-top: 150px;
color: rgb(153, 49, 49);
text-align: center;
font-size: 3.5rem;
}



.cardsec{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    padding: 35px 17%;
    padding-top: 50px;
}


.carrd {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: arial;

  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .cardbtn {
    border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(153, 49, 49);
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  }
  
  .carrd button:hover {
    opacity: 0.7;
  }

  .hero-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 35PX 17%;
    justify-content: space-around;
    margin:auto;
    
  }
  
  
  .box-x {
    height: 250px;
    width: 250px;
    background-color:rgba(255, 255, 255, 0.434);
    margin: 25px 15px;
    border-radius: 25px;
  }
  .box-x-text {
    text-align: center;
  }
  .box-x-text h2, .box-x h2 {
   color: rgb(153, 49, 49);
  }
  
  
  #bx1{
    background-image: url(./living-room-furniture3.png);
    background-size: cover;
    box-shadow: 1px 1px 9px gray;
  }
  
  #bx2:hover{
    margin: 20px auto;
    width: 270px;
    background-color: rgba(153, 49, 49, 0.434);
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.664);
  }
  #bx4:hover{
    margin: 20px auto;
    width: 270px;
    background-color: rgba(153, 49, 49, 0.434);
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.664);
  }
  
  #bx6:hover{
    margin: 20px auto;
    width: 270px;
    background-color: rgba(153, 49, 49, 0.434);
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.664);
  
  }
  
  #bx3{
    background-image: url(./BT-3-11.jpg);
    background-size: cover;
    box-shadow: 1px 1px 9px gray;
  }
  
  #bx5{
    background-image: url(./Online-furniture-stores-Singapore-.png);
    background-size: cover;
    box-shadow: 1px 1px 9px gray;
  }
  
  
  #bx2{
    padding-top: 15px;
    text-align: center;
    transition: 0.5s;
  }
  
  #bx4{
    padding-top: 15px;
    text-align: center;
    transition: 0.5s;
  }
  #bx6{
    padding-top: 15px;
    text-align: center;
    justify-items: center;
    transition: 0.5s;
  }
  .team{
    text-align: center;
    font-size: 4rem;
    padding-top: 100px;
    color: rgb(153, 49, 49);
  
  }
  .voucher__section {
    display:grid;
    grid-template-columns: 50% 5  0%;
    align-items: center;
    border-radius: 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(2, 2, 2, 0.5)), url(./1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%; background-position-y: center;
    height: 12rem;
    color: white;
    font-size: 1.4rem;
    padding: 35px 17%;
    transition: .4s;
    margin-top: 100px;
}

/* .voucher__content {
    margin-left: 1rem;
} */

.voucher__content a{
    display: inline-block;
    margin-top: .7rem;
    border-radius: 1rem;
}

.voucher__section:hover {
    transition: .4s;
    transform: scale(1.01);
}

.get__btn {
    padding: 1rem 2rem;
    border: 1px solid white;
    background-color: white;
    color: black;
    font-weight: bold;
    transition: .4s;
}

.get__btn:hover {
    border: 1px solid white;
    background-color: black;
    color: white;
    
}
.featured__product {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  padding: 35px 15%;
}


.product__info{
  display: grid;
  text-align: center;
  width: 100%;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
}

.product__card {
  padding: 2rem 1rem;
  margin: 1rem;
  border: 1px solid white;
  border-radius: 10px;
}

.product__img img{
  transition: .4s;
  
  max-width: 100%;
}

.product__card:hover {
  
  transition: .4s;
  
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

}

.product__card:hover img{
  transition: .4s;
  transform: rotate(-15deg);
}

.product__card:hover .product__details h3 {
  transition: .4s ease;
  color: #8b281d;
  font-size: 2rem;
}

.brands {
  display:grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: 25%  25% 25%;
  margin: 0 auto;
  padding: 35px 17%;
}

.brand__img {
  max-width: 80%;
  max-height: 100%;
  opacity: .5;
}